/*
 * Best Buy API Playground
 * A sample dataset and API for you to experiment with.
 *
 * OpenAPI spec version: 1.1.0
 * Contact: developer@bestbuy.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import com.google.gson.reflect.TypeToken;
import org.openapitools.client.model.ErrorModel;
import org.openapitools.client.model.Service;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import io.restassured.RestAssured;
import io.restassured.builder.RequestSpecBuilder;
import io.restassured.builder.ResponseSpecBuilder;
import io.restassured.http.Method;
import io.restassured.response.Response;
import io.swagger.annotations.*;

import java.lang.reflect.Type;
import java.util.function.Consumer;
import java.util.function.Function;
import java.util.function.Supplier;
import org.openapitools.client.JSON;

import static io.restassured.http.Method.*;

@Api(value = "Services")
public class ServicesApi {

    private RequestSpecBuilder reqSpec;

    private ServicesApi(RequestSpecBuilder reqSpec) {
        this.reqSpec = reqSpec;
    }

    public static ServicesApi services(RequestSpecBuilder reqSpec) {
        return new ServicesApi(reqSpec);
    }


    @ApiOperation(value = "",
            notes = "Creates a new service",
            nickname = "addService",
            tags = { "services" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Empty response") ,
            @ApiResponse(code = 400, message = "unexpected error")  })
    public AddServiceOper addService() {
        return new AddServiceOper(reqSpec);
    }

    @ApiOperation(value = "",
            notes = "Deletes a single service based on the ID supplied",
            nickname = "deleteservice",
            tags = { "services" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Service deleted") ,
            @ApiResponse(code = 400, message = "Unexpected error")  })
    public DeleteserviceOper deleteservice() {
        return new DeleteserviceOper(reqSpec);
    }

    @ApiOperation(value = "",
            notes = "Returns a services based on service ID",
            nickname = "findServiceById",
            tags = { "services" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Service response") ,
            @ApiResponse(code = 400, message = "Error")  })
    public FindServiceByIdOper findServiceById() {
        return new FindServiceByIdOper(reqSpec);
    }

    @ApiOperation(value = "",
            notes = "Returns all services that match the given filter criteria. If no filters are included, defaults to returning a paginated list of all services.",
            nickname = "findServices",
            tags = { "services" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Service response") ,
            @ApiResponse(code = 400, message = "Error")  })
    public FindServicesOper findServices() {
        return new FindServicesOper(reqSpec);
    }

    @ApiOperation(value = "",
            notes = "Updates a services based on service ID",
            nickname = "updateServiceById",
            tags = { "services" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Service response") ,
            @ApiResponse(code = 400, message = "Error")  })
    public UpdateServiceByIdOper updateServiceById() {
        return new UpdateServiceByIdOper(reqSpec);
    }

    /**
     * Customise request specification
     * @param consumer consumer
     * @return api
     */
    public ServicesApi reqSpec(Consumer<RequestSpecBuilder> consumer) {
        consumer.accept(reqSpec);
        return this;
    }

    /**
     * 
     * Creates a new service
     *
     * @see #body Service to add (required)
     */
    public static class AddServiceOper {

        public static final Method REQ_METHOD = POST;
        public static final String REQ_URI = "/services";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public AddServiceOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setContentType("application/json");
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * POST /services
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

         /**
         * @param service (Service) Service to add (required)
         * @return operation
         */
        public AddServiceOper body(Service service) {
            reqSpec.setBody(service);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public AddServiceOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public AddServiceOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * Deletes a single service based on the ID supplied
     *
     * @see #idPath ID of service to delete (required)
     */
    public static class DeleteserviceOper {

        public static final Method REQ_METHOD = DELETE;
        public static final String REQ_URI = "/services/{id}";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public DeleteserviceOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * DELETE /services/{id}
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        public static final String ID_PATH = "id";

        /**
         * @param id (Long) ID of service to delete (required)
         * @return operation
         */
        public DeleteserviceOper idPath(Object id) {
            reqSpec.addPathParam(ID_PATH, id);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public DeleteserviceOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public DeleteserviceOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * Returns a services based on service ID
     *
     * @see #idPath ID of service to fetch (required)
     * return Service
     */
    public static class FindServiceByIdOper {

        public static final Method REQ_METHOD = GET;
        public static final String REQ_URI = "/services/{id}";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public FindServiceByIdOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * GET /services/{id}
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * GET /services/{id}
         * @param handler handler
         * @return Service
         */
        public Service executeAs(Function<Response, Response> handler) {
            Type type = new TypeToken<Service>(){}.getType();
            return execute(handler).as(type);
        }

        public static final String ID_PATH = "id";

        /**
         * @param id (Long) ID of service to fetch (required)
         * @return operation
         */
        public FindServiceByIdOper idPath(Object id) {
            reqSpec.addPathParam(ID_PATH, id);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public FindServiceByIdOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public FindServiceByIdOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * Returns all services that match the given filter criteria. If no filters are included, defaults to returning a paginated list of all services.
     *
     * @see #$limitQuery Limit the number of services returned. (optional)
     * @see #$skipQuery Skip the specified number of services. (optional)
     * return List&lt;Service&gt;
     */
    public static class FindServicesOper {

        public static final Method REQ_METHOD = GET;
        public static final String REQ_URI = "/services";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public FindServicesOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * GET /services
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * GET /services
         * @param handler handler
         * @return List&lt;Service&gt;
         */
        public List<Service> executeAs(Function<Response, Response> handler) {
            Type type = new TypeToken<List<Service>>(){}.getType();
            return execute(handler).as(type);
        }

        public static final String $LIMIT_QUERY = "$limit";

        /**
         * @param $limit (Integer) Limit the number of services returned. (optional)
         * @return operation
         */
        public FindServicesOper $limitQuery(Object... $limit) {
            reqSpec.addQueryParam($LIMIT_QUERY, $limit);
            return this;
        }

        public static final String $SKIP_QUERY = "$skip";

        /**
         * @param $skip (Integer) Skip the specified number of services. (optional)
         * @return operation
         */
        public FindServicesOper $skipQuery(Object... $skip) {
            reqSpec.addQueryParam($SKIP_QUERY, $skip);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public FindServicesOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public FindServicesOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * Updates a services based on service ID
     *
     * @see #idPath ID of service to fetch (required)
     * @see #body Service attributes to update (required)
     * return Service
     */
    public static class UpdateServiceByIdOper {

        public static final Method REQ_METHOD = PATCH;
        public static final String REQ_URI = "/services/{id}";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public UpdateServiceByIdOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setContentType("application/json");
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * PATCH /services/{id}
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * PATCH /services/{id}
         * @param handler handler
         * @return Service
         */
        public Service executeAs(Function<Response, Response> handler) {
            Type type = new TypeToken<Service>(){}.getType();
            return execute(handler).as(type);
        }

         /**
         * @param service (Service) Service attributes to update (required)
         * @return operation
         */
        public UpdateServiceByIdOper body(Service service) {
            reqSpec.setBody(service);
            return this;
        }

        public static final String ID_PATH = "id";

        /**
         * @param id (Long) ID of service to fetch (required)
         * @return operation
         */
        public UpdateServiceByIdOper idPath(Object id) {
            reqSpec.addPathParam(ID_PATH, id);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public UpdateServiceByIdOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public UpdateServiceByIdOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
}
