/*
 * Best Buy API Playground
 * A sample dataset and API for you to experiment with.
 *
 * OpenAPI spec version: 1.1.0
 * Contact: developer@bestbuy.com
 *
 * NOTE: This class is auto generated by OpenAPI Generator (https://openapi-generator.tech).
 * https://openapi-generator.tech
 * Do not edit the class manually.
 */


package org.openapitools.client.api;

import com.google.gson.reflect.TypeToken;
import org.openapitools.client.model.ErrorModel;
import org.openapitools.client.model.Store;

import java.util.ArrayList;
import java.util.Arrays;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import io.restassured.RestAssured;
import io.restassured.builder.RequestSpecBuilder;
import io.restassured.builder.ResponseSpecBuilder;
import io.restassured.http.Method;
import io.restassured.response.Response;
import io.swagger.annotations.*;

import java.lang.reflect.Type;
import java.util.function.Consumer;
import java.util.function.Function;
import java.util.function.Supplier;
import org.openapitools.client.JSON;

import static io.restassured.http.Method.*;

@Api(value = "Stores")
public class StoresApi {

    private RequestSpecBuilder reqSpec;

    private StoresApi(RequestSpecBuilder reqSpec) {
        this.reqSpec = reqSpec;
    }

    public static StoresApi stores(RequestSpecBuilder reqSpec) {
        return new StoresApi(reqSpec);
    }


    @ApiOperation(value = "",
            notes = "Creates a new store",
            nickname = "addStore",
            tags = { "stores" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Empty response") ,
            @ApiResponse(code = 400, message = "Unexpected error")  })
    public AddStoreOper addStore() {
        return new AddStoreOper(reqSpec);
    }

    @ApiOperation(value = "",
            notes = "Deletes a single store based on the ID supplied",
            nickname = "deletestore",
            tags = { "stores" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Store deleted") ,
            @ApiResponse(code = 400, message = "unexpected error")  })
    public DeletestoreOper deletestore() {
        return new DeletestoreOper(reqSpec);
    }

    @ApiOperation(value = "",
            notes = "Returns a store based on store ID",
            nickname = "findStoreById",
            tags = { "stores" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Store response") ,
            @ApiResponse(code = 400, message = "Error")  })
    public FindStoreByIdOper findStoreById() {
        return new FindStoreByIdOper(reqSpec);
    }

    @ApiOperation(value = "",
            notes = "Returns all stores that match the given filter criteria. If no filters are included, defaults to returning a paginated list of all stores.",
            nickname = "findStores",
            tags = { "stores" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Store response") ,
            @ApiResponse(code = 400, message = "Error")  })
    public FindStoresOper findStores() {
        return new FindStoresOper(reqSpec);
    }

    @ApiOperation(value = "",
            notes = "Updates a store based on store ID",
            nickname = "updateStoreById",
            tags = { "stores" })
    @ApiResponses(value = { 
            @ApiResponse(code = 200, message = "Store response") ,
            @ApiResponse(code = 400, message = "Error")  })
    public UpdateStoreByIdOper updateStoreById() {
        return new UpdateStoreByIdOper(reqSpec);
    }

    /**
     * Customise request specification
     * @param consumer consumer
     * @return api
     */
    public StoresApi reqSpec(Consumer<RequestSpecBuilder> consumer) {
        consumer.accept(reqSpec);
        return this;
    }

    /**
     * 
     * Creates a new store
     *
     * @see #body Store to add (required)
     */
    public static class AddStoreOper {

        public static final Method REQ_METHOD = POST;
        public static final String REQ_URI = "/stores";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public AddStoreOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setContentType("application/json");
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * POST /stores
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

         /**
         * @param store (Store) Store to add (required)
         * @return operation
         */
        public AddStoreOper body(Store store) {
            reqSpec.setBody(store);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public AddStoreOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public AddStoreOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * Deletes a single store based on the ID supplied
     *
     * @see #idPath ID of store to delete (required)
     */
    public static class DeletestoreOper {

        public static final Method REQ_METHOD = DELETE;
        public static final String REQ_URI = "/stores/{id}";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public DeletestoreOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * DELETE /stores/{id}
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        public static final String ID_PATH = "id";

        /**
         * @param id (Long) ID of store to delete (required)
         * @return operation
         */
        public DeletestoreOper idPath(Object id) {
            reqSpec.addPathParam(ID_PATH, id);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public DeletestoreOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public DeletestoreOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * Returns a store based on store ID
     *
     * @see #idPath ID of store to fetch (required)
     * return Store
     */
    public static class FindStoreByIdOper {

        public static final Method REQ_METHOD = GET;
        public static final String REQ_URI = "/stores/{id}";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public FindStoreByIdOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * GET /stores/{id}
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * GET /stores/{id}
         * @param handler handler
         * @return Store
         */
        public Store executeAs(Function<Response, Response> handler) {
            Type type = new TypeToken<Store>(){}.getType();
            return execute(handler).as(type);
        }

        public static final String ID_PATH = "id";

        /**
         * @param id (Long) ID of store to fetch (required)
         * @return operation
         */
        public FindStoreByIdOper idPath(Object id) {
            reqSpec.addPathParam(ID_PATH, id);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public FindStoreByIdOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public FindStoreByIdOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * Returns all stores that match the given filter criteria. If no filters are included, defaults to returning a paginated list of all stores.
     *
     * @see #$limitQuery Limit the number of stores returned. (optional)
     * @see #$skipQuery Skip the specified number of stores. (optional)
     * return List&lt;Store&gt;
     */
    public static class FindStoresOper {

        public static final Method REQ_METHOD = GET;
        public static final String REQ_URI = "/stores";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public FindStoresOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * GET /stores
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * GET /stores
         * @param handler handler
         * @return List&lt;Store&gt;
         */
        public List<Store> executeAs(Function<Response, Response> handler) {
            Type type = new TypeToken<List<Store>>(){}.getType();
            return execute(handler).as(type);
        }

        public static final String $LIMIT_QUERY = "$limit";

        /**
         * @param $limit (Integer) Limit the number of stores returned. (optional)
         * @return operation
         */
        public FindStoresOper $limitQuery(Object... $limit) {
            reqSpec.addQueryParam($LIMIT_QUERY, $limit);
            return this;
        }

        public static final String $SKIP_QUERY = "$skip";

        /**
         * @param $skip (Integer) Skip the specified number of stores. (optional)
         * @return operation
         */
        public FindStoresOper $skipQuery(Object... $skip) {
            reqSpec.addQueryParam($SKIP_QUERY, $skip);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public FindStoresOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public FindStoresOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
    /**
     * 
     * Updates a store based on store ID
     *
     * @see #idPath ID of store to update (required)
     * @see #body Store attributes to update (required)
     * return Store
     */
    public static class UpdateStoreByIdOper {

        public static final Method REQ_METHOD = PATCH;
        public static final String REQ_URI = "/stores/{id}";

        private RequestSpecBuilder reqSpec;
        private ResponseSpecBuilder respSpec;

        public UpdateStoreByIdOper(RequestSpecBuilder reqSpec) {
            this.reqSpec = reqSpec;
            reqSpec.setContentType("application/json");
            reqSpec.setAccept("application/json");
            this.respSpec = new ResponseSpecBuilder();
        }

        /**
         * PATCH /stores/{id}
         * @param handler handler
         * @param <T> type
         * @return type
         */
        public <T> T execute(Function<Response, T> handler) {
            return handler.apply(RestAssured.given().spec(reqSpec.build()).expect().spec(respSpec.build()).when().request(REQ_METHOD, REQ_URI));
        }

        /**
         * PATCH /stores/{id}
         * @param handler handler
         * @return Store
         */
        public Store executeAs(Function<Response, Response> handler) {
            Type type = new TypeToken<Store>(){}.getType();
            return execute(handler).as(type);
        }

         /**
         * @param store (Store) Store attributes to update (required)
         * @return operation
         */
        public UpdateStoreByIdOper body(Store store) {
            reqSpec.setBody(store);
            return this;
        }

        public static final String ID_PATH = "id";

        /**
         * @param id (Long) ID of store to update (required)
         * @return operation
         */
        public UpdateStoreByIdOper idPath(Object id) {
            reqSpec.addPathParam(ID_PATH, id);
            return this;
        }

        /**
         * Customise request specification
         * @param consumer consumer
         * @return operation
         */
        public UpdateStoreByIdOper reqSpec(Consumer<RequestSpecBuilder> consumer) {
            consumer.accept(reqSpec);
            return this;
        }

        /**
         * Customise response specification
         * @param consumer consumer
         * @return operation
         */
        public UpdateStoreByIdOper respSpec(Consumer<ResponseSpecBuilder> consumer) {
            consumer.accept(respSpec);
            return this;
        }
    }
}
